* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Inika', serif;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
  }

  ul, li {
    padding: 0;
    margin: 0;
  }

.header {
    font-family: 'Inika', serif;
    font-size: 16px;
    line-height: 50px;
    background-color: #edf2ec;
  }

  .header-container {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-left: -40px;

  }

  .logo-vector {
    width: 20px;
    height: 20px;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 42px;
    gap: 16px;
  }

  .nav-list {
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: black;
    transition: color .3s;
    text-decoration: none;
  }

.nav-link:hover {
    color: #e06733;
}

.welcome-section {
  display: flex;
  background-color: #edf2ec;
}

.welcome-container {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  gap: 226px;
}

.welcome-container img {
  margin-top: 78px;
  margin-left: -40px;
  width: 448.8px;
  height: 407.36px;
}

.welcome {
  margin-top: 84px;
}


h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: #717171;
}

.green-text {
  color: #499a18;
}

.welcome p {
  width: 525px;
  margin-top: 44px;
  font-family: 'Inter';
  text-align: start;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  color: #636060;
}

.button {
  width: 158px;
  height: 44px;
  margin-top: 30px;
  margin-bottom: 94px;
  border: 2px solid #e06733;
  border-radius: 10px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: #e06733;
  transition: 0.3s;
}

#about_us {
  display: flex;
}

.about-container {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
}

.about-us {
  width: 463px;
  margin-top: 160px;
  margin-left: -40px;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 40px;
  line-height: 52.12px;
  color: #499a18;
}

.red-text {
  color: #e06733;
}

.about p {
  width: 605px;
  margin-top: 40px;
  margin-left: -40px;
  margin-bottom: 155px;
  font-family: 'Inter';
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.houseplant {
  width: 464px;
  height: 479px;
  margin-top: 88px;
  margin-left: 148px;
  margin-right: 106px;
}

#service {
  background-color: #edf2ec;
}

.service-buttons {
  display: flex;
  gap: 38px;
  margin-right: 324px;
}

h2 {
  width: 306px;
  margin-top: -10px;
  margin-left: 68px;
  margin-right: 106px;
  font-family: 'Inika';
  font-size: 40px;
  line-height: 52.12px;
  color: #499a18;
}

.service-button {
  width: 161px;
  height: 50px;
  margin-top: 18px;
  margin-bottom: 105px;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
}

.service-button:hover {
  cursor: pointer;
  color: white;
  background-color: #e06733;
  transition: 0.3s;
}

.container {
  margin-left: 68px;
  column-count: 3;
  column-width: 330px;
  column-gap: 0px;
  margin-right: 28px;
}

.description {
  text-align: center;
  width: 330px;
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
  margin-top: -5px;
  margin-bottom: 55px;
}

.service-item img {
  height: 350px;
  width: 329px;
}

.description h3 {
  margin-top: 10px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
}

.description p {
  font-family: 'Inter';
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  margin-bottom: 36px;
}

.prices h2 {
  margin-top: 138px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: black;
}

#price {
  display: flex;
  justify-content: space-between;
  gap: 360px;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 32px;
  width: 332px;
  height: 282px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  margin-left: 68px;
  margin-top: 60px;
}

.basic {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 50px;
  background-color: #edf2ec;
  border-radius: 20px;
  margin-top: 34px;

}

.standart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 50px;
  background-color: #edf2ec;
  border-radius: 20px;
}

.pro-care {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 50px;
  background-color: #edf2ec;
  border-radius: 20px;
}

.accordion img {
  width: 16px;
  height: 16px;
  margin-right: -20px;
}

.accordion p {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: black;
  margin-left: -20px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 200px;
  margin-top: 8px;
}

.contact-us h3 {
  width: 452px;
  height: 103px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  margin-top: 132px;
}

.btn-price {
  width: 162px;
  height: 50px;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: 'Inika';
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  background-color: white;
}

.btn-price:hover {
  cursor: pointer;
  color: white;
  background-color: #e06733;
  transition: 0.3s;
}

.contact-us img {
  width: 152px;
  height: 175px;
  margin-top: 36px;
  margin-bottom: 115px;
}

#contacts {
  background-color: #edf2ec;
}

.container-contacts {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
}

.container-contacts h2 {
  width: 195px;
  height: 51px;
  font-family: 'Inika';
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  text-align: center;
  margin-top: 59px;
  margin-left: 84px;

}

.woman {
  width: 400px;
  height: 497px;
  margin-top: 53px;
  margin-left: -40px;
}

.city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 450px;
  margin-top: 148px;
  margin-right: 40px;
  background-color: #d6e7d2;

}

.city img {
  width: 16px;
  height: 16px;
  margin-right: 17px;
}

.city p {
 font-family: 'Inter';
 font-size: 20px;
 line-height: 40px;
 color: #717171;
 margin-left: 20px;
}

.container-footer {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 337px;
  margin-top: 20px;
  margin-left: -38px;
}

.footer-text {
  display: flex;
  align-items: center;
  gap: 20px;
}


.footer-list {
 display: flex;
justify-content: flex-end;
align-items: center;
list-style: none;
margin-top: 48px;
width: 188px;
height: 50px;
gap: 20px;
}

.links {
  margin-right: 40px;
}

.footer-link {
line-height: 50px;
color: black;
transition: color .3s;
text-decoration: none;
}

.footer-link:hover {
color: #e06733;
}

.footer-text p {
  color: black;
  font-family: 'Inter';
  font-size: 20px;
  line-height: 50px;
}

.rss-link {
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: 'Inter';
  font-size: 20px;
  line-height: 50px;
}

.git-link {
  text-decoration: none;
  color: black;
  font-family: 'Inter';
  font-size: 20px;
  line-height: 50px;
}